<div class="col-md-4"></div>
<div class="col-md-4 login-screen">
<h2 style="text-align: center">Cadastre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail"%>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha" %>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirme sua senha" %>
      </div>
      <br>
  <div><%= f.submit "Cadastre-se", class: "btn btn-success form-control" %></div>
<% end %>
  <br>
<%= render "devise/shared/links" %>
</div>
<div class="col-md-4"></div>