<h1>Listing responsibles</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birth</th>
      <th>Address</th>
      <th>Tel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsibles.each do |responsible| %>
      <tr>
        <td><%= responsible.name %></td>
        <td><%= responsible.email %></td>
        <td><%= responsible.birth %></td>
        <td><%= responsible.address %></td>
        <td><%= responsible.tel %></td>
        <td><%= link_to 'Mostrar', responsible %></td>
        <td><%= link_to 'Editar', edit_responsible_path(responsible) %></td>
        <td><%= link_to 'Deletar', responsible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Responsável', new_responsible_path %>
