<h1>Responsáveis Cadastrados</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-Mail</th>
      <th>Data de Nascimento</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsibles.each do |responsible| %>
      <tr>
        <td><%= responsible.name %></td>
        <td><%= responsible.email %></td>
        <td><%= responsible.birth %></td>
        <td><%= responsible.address %></td>
        <td><%= responsible.tel %></td>
        <td><%= link_to 'Mostrar', responsible %></td>
        <td><%= link_to 'Editar', edit_responsible_path(responsible) %></td>
        <td><%= link_to 'Excluir', responsible, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Responsável', new_responsible_path, class: "btn btn-default" %>
