<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <td><%= @responsible.name %></td>
  </tr>
  <tr>
    <th>Identificador</th>
    <td><%= @responsible.identifier %></td>
  </tr>
  <tr>
    <th>E-Mail</th>
    <td><%= @responsible.email %></td>
  </tr>
  <tr>
    <th>Data de Nascimento</th>
    <td><%= @responsible.birth %></td>
  </tr>

  <tr>
    <th>Endereço</th>
    <td><%= @responsible.address %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @responsible.tel %></td>
  </tr>
</table>

<%= link_to 'Editar', edit_responsible_path(@responsible), class: "btn btn-default" %>
<%= link_to 'Voltar', responsibles_path, class: "btn btn-default" %>
