<p id="notice"><%= notice %></p>

<p>
  <strong>Identificador:</strong>
  <%= @responsible.identifier %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @responsible.name %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @responsible.email %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @responsible.birth %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @responsible.address %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @responsible.tel %>
</p>

<%= link_to 'Editar', edit_responsible_path(@responsible) %> |
<%= link_to 'Voltar', responsibles_path %>
