<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @responsible.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @responsible.email %>
</p>

<%= link_to 'Editar', edit_responsible_path(@responsible) %> |
<%= link_to 'Voltar', responsibles_path %>
