<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

            ['Disponível', <%= @disponivel.size %>],
            ['Ocupado', <%= @ocupado.size %>],
            ['Manutenção', <%= @manutencao.size %>],
            ['Inutilizável', <%= @inutilizado.size %>]
        ]);

        // Set chart options
        var options = {'title':'Patrimonios por Status',
            'width':700,
            'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<div id="chart_div"></div>

<hr>
<% if @disponivel.size %>
    <h2 style="text-align: center">Disponível</h2>
<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>Patrimônios</th>
    <th>Identificação</th>
    <th>Responsável</th>
    <th>Sala</th>
  </tr>
  </thead>

  <tbody>
  <% i= 1 %>
  <% @disponivel.each do |patrimony| %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to patrimony.name, patrimony_path(patrimony) %></td>
        <td><%= patrimony.identifier %></td>
        <td><%= link_to patrimony.responsible.name, responsible_path(patrimony.responsible) %></td>
        <td><%= link_to patrimony.room.locale, room_path(patrimony.room) %></td>
      </tr>
      <% i += 1 %>
  <% end %>
  </tbody>
</table>
    <hr>
<% end %>

<% if @ocupado.size > 0 %>
    <h2 style="text-align: center">Ocupado</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Patrimônios</th>
        <th>Identificação</th>
        <th>Responsável</th>
        <th>Sala</th>
      </tr>
      </thead>

      <tbody>
      <% i= 1 %>
      <% @ocupado.each do |patrimony| %>
          <tr>
            <td><%= i %></td>
            <td><%= link_to patrimony.name, patrimony_path(patrimony) %></td>
            <td><%= patrimony.identifier %></td>
            <td><%= link_to patrimony.responsible.name, responsible_path(patrimony.responsible) %></td>
            <td><%= link_to patrimony.room.locale, room_path(patrimony.room) %></td>
          </tr>
          <% i += 1 %>
      <% end %>
      </tbody>
    </table>
    <hr>
<% end %>


<% if @manutencao.size > 0 %>
    <h2 style="text-align: center">Manutenção</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Patrimônios</th>
        <th>Identificação</th>
        <th>Responsável</th>
        <th>Sala</th>
      </tr>
      </thead>

      <tbody>
      <% i= 1 %>
      <% @manutencao.each do |patrimony| %>
          <tr>
            <td><%= i %></td>
            <td><%= link_to patrimony.name, patrimony_path(patrimony) %></td>
            <td><%= patrimony.identifier %></td>
            <td><%= link_to patrimony.responsible.name, responsible_path(patrimony.responsible) %></td>
            <td><%= link_to patrimony.room.locale, room_path(patrimony.room) %></td>
          </tr>
          <% i += 1 %>
      <% end %>
      </tbody>
    </table>
    <hr>
<% end %>

<% if @inutilizado.size > 0 %>
    <h2 style="text-align: center">Inutilizado</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Patrimônios</th>
        <th>Identificação</th>
        <th>Responsável</th>
        <th>Sala</th>
      </tr>
      </thead>

      <tbody>
      <% i= 1 %>
      <% @inutilizado.each do |patrimony| %>
          <tr>
            <td><%= i %></td>
            <td><%= link_to patrimony.name, patrimony_path(patrimony) %></td>
            <td><%= patrimony.identifier %></td>
            <td><%= link_to patrimony.responsible.name, responsible_path(patrimony.responsible) %></td>
            <td><%= link_to patrimony.room.locale, room_path(patrimony.room) %></td>
          </tr>
          <% i += 1 %>
      <% end %>
      </tbody>
    </table>
    <hr>
<% end %>