<%= form_for(@patrimony) do |f| %>
  <% if @patrimony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patrimony.errors.count, "error") %> prohibited this patrimony from being saved:</h2>

      <ul>
      <% @patrimony.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, ["Disponível", "Ocupado", "Manutenção", "Inutilizável"]%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :responsible %><br>
    <%= f.collection_select :responsible_id, Responsible.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :room %><br>
    <%= f.collection_select :room_id, Room.all, :id, :locale %>
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn-success"%>
  </div>
<% end %>
