<%= form_for(@patrimony) do |f| %>
  <% if @patrimony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patrimony.errors.count, "error") %> proibiu este patrimônio de ser salvo:</h2>

      <ul>
      <% @patrimony.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome:" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Status:" %><br>
    <%= f.select :status, ["Disponível", "Ocupado", "Manutenção", "Inutilizável"]%>
  </div>
  <div class="field">
    <%= f.label "Descrição:" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label "Responsável:" %><br>
    <%= f.collection_select :responsible_id, Responsible.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Sala:" %><br>
    <%= f.collection_select :room_id, Room.all, :id, :locale %>
  </div>


  <div class="actions">
    <%= f.submit "Criar Patrimônio", class: "btn btn-success"%>
  </div>
<% end %>
