<h1>Listing patrimonies</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patrimonies.each do |patrimony| %>
      <tr>
        <td><%= patrimony.name %></td>
        <td><%= patrimony.status %></td>
        <td><%= patrimony.description %></td>
        <td><%= link_to 'Mostrar', patrimony %></td>
        <td><%= link_to 'Editar', edit_patrimony_path(patrimony) %></td>
        <td><%= link_to 'Deletar', patrimony, method: :delete, data: { confirm: 'Tem certeza que deseja deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Patrimônio', new_patrimony_path %>
