<h1>Patrimônios Cadastrados</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Identificador</th>
      <th>Status</th>
      <th>Descrição</th>
      <th>Responsável</th>
      <th>Sala</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patrimonies.each do |patrimony| %>
      <tr>
        <td><%= patrimony.name %></td>
        <td><%= patrimony.identifier %></td>
        <td><%= patrimony.status %></td>
        <td><%= patrimony.description %></td>
        <td><%= patrimony.responsible.name %></td>
        <td><%= patrimony.room.locale %></td>
        <td><%= link_to 'Mostrar', patrimony %></td>
        <td><%= link_to 'Editar', edit_patrimony_path(patrimony) %></td>
        <td><%= link_to 'Excluir', patrimony, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Patrimônio', new_patrimony_path %>
