
<p>
  <strong>Nome:</strong>
  <%= @patrimony.name %>
</p>

<p>
  <strong>Identificador:</strong>
  <%= @patrimony.identifier %>
</p>

<p>
  <strong>Status:</strong>
  <%= @patrimony.status %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @patrimony.description %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @patrimony.responsible.name %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @patrimony.room.locale %>
</p>

<%= link_to 'Editar', edit_patrimony_path(@patrimony) %> |
<%= link_to 'Voltar', patrimonies_path %>
