<table class="table table-bordered">
  <tr>
    <th>Nome</th>
    <td><%= @patrimony.name %></td>
  </tr>

  <tr>
    <th>Identificador</th>
    <td><%= @patrimony.identifier %></td>
  </tr>

  <tr>
    <th>Status</th>
    <td><%= @patrimony.status %></td>
  </tr>

  <tr>
    <th>Descrição</th>
    <td><%= @patrimony.description %></td>
  </tr>

  <tr>
    <th>Responsável</th>
    <td><%= @patrimony.responsible.name %></td>
  </tr>

  <tr>
    <th>Sala</th>
    <td><%= @patrimony.room.locale %></td>
  </tr>
</table>

<%= link_to 'Editar', edit_patrimony_path(@patrimony), class: "btn btn-default" %>
<%= link_to 'Voltar', patrimonies_path, class: "btn btn-default" %>
