<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patrimony.name %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @patrimony.identifier %>
</p>

<p>
  <strong>Status:</strong>
  <%= @patrimony.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @patrimony.description %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @patrimony.responsible %>
</p>

<p>
  <strong>Room:</strong>
  <%= @patrimony.room %>
</p>

<%= link_to 'Editar', edit_patrimony_path(@patrimony) %> |
<%= link_to 'Voltar', patrimonies_path %>
