<h1>Salas Cadastradas</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Local</th>
      <th>Capacidade</th>
      <th>Laboratório</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.identifier %></td>
        <td><%= room.locale %></td>
        <td><%= room.capacity %></td>
        <td><%= room.lab %></td>
        <td><%= link_to 'Mostrar', room %></td>
        <td><%= link_to 'Editar', edit_room_path(room) %></td>
        <td><%= link_to 'Deletar', room, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Sala', new_room_path, class: "btn btn-default" %>
