

<p>
  <strong>Identificador:</strong>
  <%= @room.identifier %>
</p>

<p>
  <strong>Local:</strong>
  <%= @room.locale %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Laboratório:</strong>
  <%= @room.lab %>
</p>

<%= link_to 'Editar', edit_room_path(@room) %> |
<%= link_to 'Voltar', rooms_path %>
