<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @room.identifier %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @room.locale %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @room.lab %>
</p>

<%= link_to 'Editar', edit_room_path(@room) %> |
<%= link_to 'Voltar', rooms_path %>
