<table class="table table-bordered">
  <tr>
    <th>Identificador</th>
    <td><%= @room.identifier %></td>

  </tr>
  <tr>
    <th>Local</th>
    <td><%= @room.locale %></td>
  </tr>
  <tr>
    <th>Capacidade</th>
    <td><%= @room.capacity %></td>
  </tr>
  <tr>
    <th>Laboratório</th>
    <td><%= @room.lab %></td>
  </tr>
</table>

<%= link_to 'Editar', edit_room_path(@room), class: "btn btn-default" %>
<%= link_to 'Voltar', rooms_path, class: "btn btn-default" %>
