<table class="table table-bordered">
  <thead>
    <tr>
      <td><%= link_to 'Home', home_index_path %></td>
      <td><%= link_to 'Patrimonios', patrimonies_path %></td>
      <td><%= link_to 'Responsáveis', responsibles_path %></td>
      <td><%= link_to 'Salas', rooms_path %></td>
      <td><%#= link_to 'Sair', destroy_user_session_path, method: :delete %></td>
    </tr>
  </thead>
</table>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Comentário HTML

<%= link_to 'Responsáveis', responsibles_path %>
é o mesmo que
<a href="<%=responsibles_path%>">
ou
<a href="/responsibles">

-->