<table class="table table-bordered">
  <thead>
    <tr>
      <td><%= link_to 'Home', home_index_path %></td>
      <td><%= link_to 'Patrimonios', patrimonies_path %></td>
      <td><%= link_to 'Responsibles', responsibles_path %></td>
      <td><%= link_to 'Rooms', rooms_path %></td>
      <td></td>
    </tr>
  </thead>
</table>


<!-- Comentário HTML

<%= link_to 'Responsibles', responsibles_path %>
é o mesmo que
<a href="<%=responsibles_path%>">
ou
<a href="/responsibles">

-->