<!DOCTYPE html>
<html>
<head>
  <title>Watchman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: 'layouts/header' if current_user%>
    <%= render partial: 'layouts/alerts' %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <%= yield %>
          </div>
      </div>
    </div>
    <%= render partial: 'layouts/footer' %>

    <!-- Referências JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>
